.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.colors {
  width: 300px;
  margin: auto;
}
.colors div {
  margin: auto;
  margin-bottom: 15px;
  height: 50px;
  width: 200px;
  line-height: 50px;
  color: white;
  border-radius: 1em;
}

.vermillion {
  color: red;
}
.violet {
  background-color: violet;
}
.pale_green {
    background-color: palegreen;
}
.marin_blue {
    background-color: aquamarine;
}
.addColors {
    margin: 15px;
}
.input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}